= @product.inspect
br
= @product.where_w.inspect
br
= @product.how_w.inspect
br
= @product.how_w.infos.inspect
br
= @product.how_do.inspect
br
= @product.how_do.infos.inspect
br
= @product.users.inspect